extends layout

block content
 h1=title
 p
    a(href="./view") View
 h2=message
 form.form-horizontal(action="/", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="firstname") First Name
          .col-xs-12.col-sm-10
            input#name.form-control(name="firstName")
        form-group
          label.col-xs-10.col-sm-2.control-label(for="lastname") Last Name
          .col-xs-12.col-sm-10
            input#name.form-control(name="lastName")
        form-group
          label.col-xs-10.col-sm-2.control-label(for="department")  Department
          .col-xs-12.col-sm-10
            input#name.form-control(name="department")
        form-group
          label.col-xs-10.col-sm-2.control-label(for="jobtitle")  Job Title
          .col-xs-12.col-sm-10
            input#name.form-control(name="jobTitle")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="salary") Salary
          .col-xs-12.col-sm-2
            input#name.form-control(name="salary")
        input(type="submit" value="Submit") 
