extends layout

block content
    h1=title
    p
        a(href="../") Home
    p=removed
    table(border="1")
        thead   
            tr
                th firstname
                th lastname
                th department
                th jobtitle
                th salary
                th date
                th
                th
        tbody
        - each stuff in results
            tr
                td 
                    = stuff.firstName
                td 
                    = stuff.lastName
                td 
                    = stuff.department
                td 
                    = stuff.jobTitle
                td
                    = stuff.salary
                td
                    = stuff.startDate.toDateString()
                td
                    a(href="../update/#{stuff._id}") Update
                td
                    a(href="../view/#{stuff._id}") Delete